@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');

:root {
  --text-font: 'Alegreya';
  --mono-font: 'Fira Code';
}

body {
  background-color: black;
  color: white;
  font-family: Jost;
}

a {
  color: turquoise;
  text-decoration: none;
  transition: all 0.5s;
  white-space: nowrap;
}

a:hover {
  color: deeppink;
  cursor: default;
  transition: all 0s;
}

/* YASGUI */

.yasgui {
  border-top: 2px solid #00ced1 !important;
}

/* .yasgui .autocompleteWrapper {
  display: none !important;
} */

