@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');

:root {
  --text-font: 'Alegreya';
  --mono-font: 'Fira Code';
}

body {
  background-color: black;
  color: white;
  font-family: Jost;
}

a {
  /* background-color: transparent; */
  color: #0dd;
  text-decoration: none !important;
  transition-duration: 0.5s;
  transition-property: background-color;
  /* transition-property: color; */
}

a:hover {
  /* background-color: aqua; */
  /* color: black; */
  cursor: default;
  text-decoration: underline !important;
  transition-duration: 0s;
  transition-property: background-color;
  /* transition-property: color; */
}

/* YASGUI */

.yasgui {
  border-top: 2px solid darkturquoise !important;
}

/* .yasgui .autocompleteWrapper {
  display: none !important;
} */
